<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniDeal – Login</title>

    <link rel="stylesheet" href="{% static 'login-signup.css' %}">


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'js/auth.js' %}" defer></script>

</head>
<body>

<div class="page">
    <div class="card">

        <h1 class="brand">
            <span class="unib">Uni</span><span class="dealb">Deal</span>
        </h1>

        <p class="subtitle">welcome back</p>

        <form id="loginForm">

            <label>Username</label>
            <input type="text" id="loginUsername" placeholder="your username">
            <div class="error" id="loginUsernameError"></div>

            <label>Password</label>
            <div class="password-wrapper">
                <input type="password" id="loginPassword" placeholder="••••••••">
                <span class="toggle-password" data-target="loginPassword">👁</span>
            </div>
            <div class="error" id="loginPasswordError"></div>

            <button type="submit">Login</button>
        </form>

        <p class="footer-text">
            New here? <a href="{% url 'signup' %}">Create account</a>

        </p>

    </div>
</div>

</body>
</html>
